<!-- module html  -->
<div class="examples">
  {% for example in module.examples %}
    <div class="example">
      <div class="heading">
        <div>
          English
        </div>
        <div>
          Turkish
        </div>
      </div>
      <dl class="entry">
        <dd>{{ example.english }}</dd>
        <dt>{{ example.turkish }}</dt>
      </dl>
      {% if example.explanation %}
        <div class="explanation">
          {{ example.explanation }}
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>
