.examples {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  .example {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas:
      "a b"
      "c d"
      "e e";
    gap: 1.5rem;

    .heading,
    .entry {
      display: contents;
    }

    .heading {
      font-weight: bold;
      text-transform: uppercase;
      color: var(--primary-color);
      font-size: var(--font-size-200);

      .english {
        grid-area: a;
      }

      .turkish {
        grid-area: b;
      }
    }

    .entry {
      font-size: var(--font-size-600, 1.5rem);

      .turkish, .english {
        margin: 0;
      }

      .turkish {
        grid-area: c;
      }
      .english {
        grid-area: d;
      }
    }

    .explanation {
      grid-area: e;
    }
  }
}
