<!--
    templateType: page
    isAvailableForNewContent: true
-->
{% extends "./layouts/base.html" %}

{% block body %}

<section class="container">
  {% dnd_area "dnd_area_main" label="Main section" padding={"left": "1rem"} %}
    {% dnd_section label="Introduction" vertical_alignment="MIDDLE" padding={"top": "4rem", "bottom": "4rem"} %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module path="@hubspot/rich_text" label="Headline" %}
            {% module_attribute "html" %}
              <h2>Discover the boundless potential of learning Turkish for English speakers</h2>
              <p>Picking up Turkish as an English speaker can give you fascinating insights into the way we communicate. Turkish and English come from different language families, so they're set up in unique ways.</p>
              <p>Turkish is a puzzle-like language, where you make complicated words by attaching extra parts to a basic word. This is like packing a whole English sentence into a few words. Once you get the hang of this, you'll appreciate how flexible and diverse human languages can be.</p>
              <p>Also, Turkish uses a beautiful rhythm of vowel sounds, something we rarely see in English. As you learn Turkish, you'll start to appreciate this beautiful symmetry and how sounds can be matched up in other languages.</p>
              <p>Turkish word order is also different from English. It's like rearranging the words 'the cat sat on the mat' to 'the cat the mat on sat.' It sure sounds strange, but getting used to this can help you see the world from different perspectives, showing us how diverse human thought can be.</p>
              <p>Learning Turkish, then, can give English speakers a wider understanding of how people communicate, offering a fresh look at different ways of thinking. It's not just about learning - it can also help us grow, understand others better, and connect on a global stage.</p>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {% include_dnd_partial path="../sections/examples.html" context={
      "headline": "Greeting Friends",
      "intro": "In Türkiye, friends typically greet with a firm handshake and direct eye contact, often shaking hands both upon meeting and parting. Close friends may offer one or two cheek kisses, starting from the right, although this is usually between women or between men and women. Body language is also key, with a nod given for respect to elders; maintaining eye contact is seen as a sign of integrity. However, the type of greeting can vary based on personal comfort, upbringing, and religious beliefs.",
      "image_url": "https://images.unsplash.com/photo-1493722636804-724befb8b89c?q=80&w=5070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
      "image_alt": "Two fellas on a bike saying Merhaba",
      "examples": [
        { "english": "Hello", "turkish": "Merhaba", "explanation": "We might as well start with a really simple example. We can build up from here." },
        { "english": "Friend", "turkish": "Arkadaş", "explanation": "That ş is pronounced just like 'sh' in English." },
        { "english": "Hello, friends!", "turkish": "Merhaba arkadaşlar!", "explanation": "Need a plural? Throw a -lar or -ler suffix on it! You can see they use exclamation marks just as in English, though they do utilize commas somewhat differently. But it's nothing to worry too much about right now." },
        { "english": "Hello, my friends!", "turkish": "Merhaba benim arkadaşlarım!", "explanation": "You probably noticed the word 'benim' here, which translates to 'my' in English. What you may not have noticed is the -ım suffix at the end of arkadaş. Turkish makes heavy use of suffixes to express things which, in English, would require multiple words. Because of that, often you can drop out pronouns and just rely on the suffixes." },
        { "english": "Hello, my friends!", "turkish": "Merhaba arkadaşlarım!", "explanation": "For instance, this version of the sentence means exactly the same as the example above!" }
      ]
    } %}
    {% dnd_section label="Greeting friends" vertical_alignment="MIDDLE" padding={"top": "2rem"} %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_column offset=0, width=6 %}
            {% dnd_row %}
              {% dnd_module path="@hubspot/rich_text" label="Text" %}
                {% module_attribute "html" %}
                  <h3>Greeting Friends</h3>
                  <p>
                    In Türkiye, friends typically greet with a firm handshake and direct eye contact, often shaking hands both upon meeting and parting. Close friends may offer one or two cheek kisses, starting from the right, although this is usually between women or between men and women. Body language is also key, with a nod given for respect to elders; maintaining eye contact is seen as a sign of integrity. However, the type of greeting can vary based on personal comfort, upbringing, and religious beliefs.
                  </p>
                {% end_module_attribute %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
          {% dnd_column offset=6, width=6 %}
            {% dnd_row %}
              {% dnd_module path="@hubspot/linked_image" label="Image" img={
                  "src": "https://images.unsplash.com/photo-1493722636804-724befb8b89c?q=80&w=5070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D",
                  "alt": "My alt text",
                  "size_type": "auto"
                } %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
        {% end_dnd_row %}
        {% dnd_row margin={"top": "2rem"} %}
          {% dnd_module path="../modules/example" label="Examples" examples=[
            { "english": "Hello", "turkish": "Merhaba", "explanation": "We might as well start with a really simple example. We can build up from here." },
            { "english": "Friend", "turkish": "Arkadaş", "explanation": "That ş is pronounced just like 'sh' in English." },
            { "english": "Hello, friends!", "turkish": "Merhaba arkadaşlar!", "explanation": "Need a plural? Throw a -lar or -ler suffix on it! You can see they use exclamation marks just as in English, though they do utilize commas somewhat differently. But it's nothing to worry too much about right now." },
            { "english": "Hello, my friends!", "turkish": "Merhaba benim arkadaşlarım!", "explanation": "You probably noticed the word 'benim' here, which translates to 'my' in English. What you may not have noticed is the -ım suffix at the end of arkadaş. Turkish makes heavy use of suffixes to express things which, in English, would require multiple words. Because of that, often you can drop out pronouns and just rely on the suffixes." },
            { "english": "Hello, my friends!", "turkish": "Merhaba arkadaşlarım!", "explanation": "For instance, this version of the sentence means exactly the same as the example above!" }
          ] %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
  {% end_dnd_area %}
</section>

{% endblock body %}
