<!--
    templateType: page
    isAvailableForNewContent: true
-->
{% extends "./layouts/base.html" %}

{% block body %}

<section class="container">
  {% dnd_area "dnd_area_main" label="Main section" padding={"left": "1rem"} %}
    {% dnd_section label="Introduction" vertical_alignment="MIDDLE" padding={"top": "2rem", "bottom": "2rem"} %}
      {% dnd_module path="@hubspot/rich_text" label="Headline" %}
        {% module_attribute "html" %}
          <h2>Wanna see?</h2>
          <p>
            Here's some hand-picked examples of simple phrases in English, with their corresponding translations in Turkish.
          </p>
        {% end_module_attribute %}
      {% end_dnd_module %}
    {% end_dnd_section %}
    {% dnd_section label="Examples" vertical_alignment="MIDDLE" padding={"top": "2rem", "bottom": "2rem"} %}
      {% dnd_module path="../modules/example" label="Examples" examples=[
        { "english": "Hello", "turkish": "Merhaba", "explanation": "We might as well start with a really simple example. We can build up from here." },
        { "english": "Friend", "turkish": "Arkadaş", "explanation": "That ş is pronounced just like 'sh' in English." },
        { "english": "Hello, friends!", "turkish": "Merhaba arkadaşlar!", "explanation": "Need a plural? Throw a -lar or -ler suffix on it! You can see they use exclamation marks just as in English, though they do utilize commas somewhat differently. But it's nothing to worry too much about right now." },
        { "english": "Hello, my friends!", "turkish": "Merhaba benim arkadaşlarım!", "explanation": "You probably noticed the word 'benim' here, which translates to 'my' in English. What you may not have noticed is the -ım suffix at the end of arkadaş. Turkish makes heavy use of suffixes to express things which, in English, would require multiple words. Because of that, often you can drop out pronouns and just rely on the suffixes." },
        { "english": "Hello, my friends!", "turkish": "Merhaba arkadaşlarım!", "explanation": "For instance, this version of the sentence means exactly the same as the example above!" }
      ] %}
      {% end_dnd_module %}
    {% end_dnd_section %}
  {% end_dnd_area %}
</section>

{% endblock body %}
