<!--
    templateType: global_partial
    isAvailableForNewContent: false
-->
<!-- Begin partial -->
<footer class="main-footer">
  <h2 class="title">
    {% module "footer_title" label="Title" path="@hubspot/text" value="Site title" %}
  </h2>

  <div class="copyright">
    {% module_block module "footer_copyright" label="Copyright text" path="@hubspot/rich_text" %}
      {% module_attribute "html" %}
        &copy; Today by us
      {% end_module_attribute %}
    {% end_module_block %}
  </div>

  <div class="emojis">
    {% module "footer_emojis" label="Emojis" path="@hubspot/text" value="♥️🇹🇷" %}
  </div>
</footer>
<!-- End partial -->
