<!--
    templateType: global_partial
    isAvailableForNewContent: false
-->
{% include "./vars.html" %}
<!-- Begin partial -->
<header class="main-header">
  <div class="container-fluid">
    <h1 class="title">
      {% module "header_title" path="@hubspot/text" label="Title" value={{get_global("site_title")}} %}
    </h1>

    {% module_block module "header_quote" path="@hubspot/rich_text" label="Quote" %}
      {% module_attribute "html" %}
        <p class="quote">
          Unleash the thrill of Turkish! Unlike English, Turkish lets you build words like puzzles, creating sentences that are truly a unique language journey. Join the adventure today!
        </p>
      {% end_module_attribute %}
    {% end_module_block %}
  </div>
</header>
<!-- End partial -->
