<!--
    templateType: global_partial
    isAvailableForNewContent: false
-->
<!-- Begin partial -->
<header class="main-header">
  <div class="container-fluid">
    <h1 class="title">
      {% module "header_title" path="@hubspot/text" label="Title" value="Turkish is cool!" %}
    </h1>

    <p class="quote">
      {% module_block module "header_quote" path="@hubspot/text" label="Quote" %}
        {% module_attribute "value" %}
          Unleash the thrill of Turkish! Unlike English, Turkish lets you build
          words like puzzles, creating sentences that are truly a unique
          language journey. Join the adventure today!
        {% end_module_attribute %}
      {% end_module_block %}
    </p>
  </div>
</header>
<!-- End partial -->
