.example {
  display: grid;
  gap: 2rem;
  grid-template:
    "english-heading turkish-heading" auto
    "english-entry turkish-entry" auto
    "explanation explanation" 2fr / 1fr 1fr;

  .heading, .entry {
    display: contents;
  }

  .heading {
    font-weight: bold;
    text-transform: uppercase;

    .english {
      grid-area: english-heading;
    }

    .turkish {
      grid-area: turkish-heading;
    }
  }

  .entry {
    font-size: var(--font-size-600, 1.5rem);

    .english, .turkish {
      margin: 0;
      padding: 0;
      & > * {
        margin-top: 0;
      }
    }

    .english {
      grid-area: english-entry;
    }

    .turkish {
      grid-area: turkish-entry;
    }
  }

  .explanation {
    grid-area: explanation;
    justify-self: bottom;
  }
}
